<div class="mainCont">
  <div class="sidePanel">
    <p>info</p>
  </div>
  <div class="centerPanel">
    <div style="padding: 30px;">
      <p><span class="blue">id: </span> {{id}}</p>
      <p><span class="blue">name: </span> {{name}}</p>
      <p><span class="blue">path: </span> {{path}}</p>
      <p><span class="blue">size: </span> {{size}}</p>
      <p><span class="blue">type: </span> {{type}}</p>
      <p><span class="blue">savedate: </span> {{savedate}}</p>
    </div>

  </div>
</div>